html, body {
	margin: 0px;
	padding: 0px;
	width: 100vw;
	height: 100vh;
	font-family: Helvetica;
	overflow: hidden;
	background: #320000;
	color: #fff;
}

.container {
	display: grid; 
	grid-template-columns: auto 1fr; 
	grid-template-rows: 1fr; 
	gap: 2px 2px; 
	grid-template-areas: 
	"itemlist tree";
	width:100vw;
	height:100vh;
}
.zoomwrapper {
	grid-area: tree;
	overflow: hidden;
    background: #242424;
	position:relative;
}
.zoom {
	display:grid;  
    place-items:center;
	width: 100%;
	height: 100%;
}
.tree {
}
.itemlist {
	grid-area: itemlist;
	overflow-y: auto;
	scrollbar-width: thin; 
}
.itemlist div { 
	margin:0 .2em 1em .2em;
}
.itemlist button {
	width: 250px;
	margin: .2em .2em;
	padding: .4em;
	display: block;
	background: #ffe0c8;
	border: thin inset #ff9672;
	border-radius: .5em;
	font-family: serif;
	font-size: 1.1rem;
	cursor: pointer;
}
.itemlist span {
	display: block;
	margin: .1em .5em;
	width: 250px;
}
.itemlist .desc { 
	font-size: 0.8em; 
}

.partCard {
	position: relative;
}
.partCard .name {
	display: block;
	font-size: 1.2em;
	color: red;
	margin: 0 0 0 auto;
}
.partCard .desc {
	width: 68%;
	margin: 0 .2em .2em auto;
	display: block;
	text-align: left;
}
.partCard img {
	height: 2rem;
}
.partCard img.big {
	background: #646464;
	border: .2em solid #000000;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 1.5em;
	left: 1em;
	border-radius: 50%;
}

.feetbread {
	position:fixed;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
}
a, a:link, a:visited {
	color:#4896ff;
}
a:hover, a:active {
	color:#4872ff;
}
.dropdownchart{
	display: none;
	position: fixed;
	background-color: #242424;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdownchart a {
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropdownchart a:hover {
	background-color: #333333;
}
.toast {
    position: fixed;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    padding: .5em 1em;
    box-shadow: 2px 2px 5px black;
    border-radius: .2em;
    background: #ffffff;
    color: #000000;
    font-size: 1.5em;
    opacity: 0;
    display: none;
    width: 20em;
    max-width: 80%;
    text-align: center;
}
@keyframes anim_popfade {
    0% { opacity: 0; margin-top: .2em; }
    2% { opacity: 1; margin-top: .2em; }
    75% { opacity: 1; margin-top: 0em; }
    100% { opacity: 0; margin-top: 0em; }
}
.partCard label.checkbox {
	position: absolute;
    right: 1px;
    top: 2px;
}