#searchQuery {
    box-sizing: border-box;
    background-image: url('imgs/searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid rgb(175, 0, 0);
    background-color: #727272;
  }
  
  #searchQuery:focus {outline: 3px solid rgb(170, 0, 0);}
  
  .searchBar {
    position: relative;
    display: inline-block;
    position: fixed;
    top: 1em;
    right: 2em;
  }
  
  .searchBar .dropdown-content {
    display: none;
    position: absolute;
    max-height: 60vh;
    background-color: #727272;
    width: 100%;
    overflow: auto;
    border: 1px solid rgb(255, 0, 0);
  }
  
  .searchBar .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .searchBar a:hover {background-color: #a0a0a0;}